@page "{id:int}"
@model StockAPI_Razor.Pages.BrokerCompany.BrokerDetailsModel
@{
}
<div>
    <h4>Broker Account Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            First Name:
        </dt>
        <dd class="col-sm-10">
            @Model.BrokerDetails.FirstName
        </dd>
        <dt class="col-sm-2">
            Last Name:
        </dt>
        <dd class="col-sm-10">
            @Model.BrokerDetails.LastName
        </dd>
        <dt class="col-sm-2">
            Password:
        </dt>
        <dd class="col-sm-10">
            @Model.BrokerDetails.Password
        </dd>
        <dt class="col-sm-2">
            Email:
        </dt>
        <dd class="col-sm-10">
            @Model.BrokerDetails.Email
        </dd>
    </dl>
</div>
